body #img-banner {
    width: 1494px;
    height: 250px;
    margin: 10 px;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px 0px;
    border: 20px;
    box-shadow: chartreuse;
}

header {
    font-family: "Merriweather", serif;
    color: rgb(189, 5, 5);
    font-size: 55px;
    background-color: none;
    padding: 0px 0px;
    background-color: none;
    position: relative;
    left: 30px;
    top: 140px;
    width: 1300px;
    font-style: oblique;
}

body {
    background-color: rgb(2, 40, 51);
}

/*Nombre y Apellido*/

#name_and_lastname {
    border: 3px solid rgb(212, 212, 212);
    border-style: ridge;
    border-radius: 10px;
    position: relative;
    top: 240px;
    left: 400px;
    width: 800px;
    height: 140px;
    background-image: url(https://img.pikbest.com/wp/202343/vintage-wood-texture-black-background-a-horizontal-display-of-old-and-dark-wooden_9977178.jpg!sw800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Nombre*/

#name1 {
    font: 29px "merriweather", serift;
    color: red;
    position: relative;
    left: 20px;
    top: 17px;
    font-style: oblique;
}

#nametext1 {
    position: relative;
    left: 10px;
    top: 30px;
    height: 50px;
    width: 330px;
    font: 28px "merriweather", serift;
    font-style: oblique;
}

/*Apellido*/

#lastnametext {
    color: red;
    font: 28px "merriweather", serift;
    position: relative;
    left: 400px;
    top: -94px;
    font-style: oblique;

}

#last_name {
    font: 21px "merriweather", serift;
    position: relative;
    left: 380px;
    top: -79px;
    height: 49px;
    width: 400px;
    font: 28px "merriweather", serift;
    font-style: oblique;

    /*Genero y Edad*/
}

#genero-edad {
    border: 3px solid rgb(212, 212, 212);
    border-style: ridge;
    border-radius: 10px;
    position: relative;
    top: 240px;
    left: 400px;
    width: 800px;
    height: 140px;
    background-image: url(https://img.pikbest.com/wp/202343/vintage-wood-texture-black-background-a-horizontal-display-of-old-and-dark-wooden_9977178.jpg!sw800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gender {
    font: 29px "merriweather", serift;
    color: red;
    position: relative;
    left: 20px;
    top: 17px;
    font-style: oblique;
}

#genderx {
    color: rgb(0, 64, 255);
    position: relative;
    left: px;
    top: 40px;
    font: 21px "merriweather", serift;
    font-style: oblique;

}

/*Edad*/


#Edad {
    color: red;
    font: 28px "merriweather", serift;
    position: relative;
    left: 400px;
    top: -81px;
    font-style: oblique;
}

#Edades {

    color: rgb(0, 64, 255);
    position: relative;
    left: 400px;
    top: -60px;
    font: 21px "merriweather", serift;
    font-style: oblique;
}

/*seleccion de sentimiento*/

#seleccion-sentimiento {
    border: 3px solid rgb(212, 212, 212);
    border-style: ridge;
    border-radius: 10px;
    position: relative;
    top: 240px;
    left: 400px;
    width: 800px;
    height: 140px;
    background-image: url(https://img.pikbest.com/wp/202343/vintage-wood-texture-black-background-a-horizontal-display-of-old-and-dark-wooden_9977178.jpg!sw800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#seleccion {
     color: red;
    font: 28px "merriweather", serift;
    position: relative;
    left: 10px;
    top: 10px;
    font-style: oblique;
}
    



/*seleccion de dragon*/

#seleccion-dragon {
    border: 3px solid rgb(212, 212, 212);
    border-style: ridge;
    border-radius: 10px;
    position: relative;
    top: 240px;
    left: 400px;
    width: 800px;
    height: 140px;
    background-image: url(https://img.pikbest.com/wp/202343/vintage-wood-texture-black-background-a-horizontal-display-of-old-and-dark-wooden_9977178.jpg!sw800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#seleccion-d{
     color: red;
    font: 28px "merriweather", serift;
    position: relative;
    left: 10px;
    top: 10px;
    font-style: oblique;
}

}

/*seleccion de faccion*/

#seleccion-faccion {
    border: 3px solid rgb(212, 212, 212);
    border-style: ridge;
    border-radius: 10px;
    position: relative;
    top: 240px;
    left: 400px;
    width: 800px;
    height: 140px;
    background-image: url(https://img.pikbest.com/wp/202343/vintage-wood-texture-black-background-a-horizontal-display-of-old-and-dark-wooden_9977178.jpg!sw800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#seleccion-f {
    color: red;
    font: 28px "merriweather", serift;
    position: relative;
    left: 10px;
    top: 10px;
    font-style: oblique;
}

/*explicacion*/

#explicacion {
    order: 3px solid rgb(212, 212, 212);
    border-style: ridge;
    border-radius: 10px;
    position: relative;
    top: 240px;
    left: 400px;
    width: 800px;
    height: 140px;
    background-image: url(https://img.pikbest.com/wp/202343/vintage-wood-texture-black-background-a-horizontal-display-of-old-and-dark-wooden_9977178.jpg!sw800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#explicacon {
    color: red;
    font: 28px "merriweather", serift;
    position: relative;
    left: 10px;
    top: 10px;
    font-style: oblique;
}


/*condiciones*/

#conditions {
    order: 3px solid rgb(212, 212, 212);
    border-style: ridge;
    border-radius: 10px;
    position: relative;
    top: 240px;
    left: 400px;
    width: 800px;
    height: 140px;
    background-image: url(https://img.pikbest.com/wp/202343/vintage-wood-texture-black-background-a-horizontal-display-of-old-and-dark-wooden_9977178.jpg!sw800);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#codiciones-text {
    color: red;
    font: 28px "merriweather", serift;
    position: relative;
    left: 10px;
    top: 10px;
    font-style: oblique;
}

/*enviar*/


#enviar {
    position: relative;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-image: url(https://img.pikbest.com/wp/202343/vintage-wood-texture-black-background-a-horizontal-display-of-old-and-dark-wooden_9977178.jpg!sw800);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}