img{
    width: 100px;
    height: 100px;
    margin: 10 px;
    position: fixed;
    left: 0px;
    top: -10px;
    padding: 100px;
}

header{
    color:brown;
    font-size: 60px;
    padding: 50px 40px;
    background-color: rgb(148, 148, 148);
    position: relative;
    left: -10px;
    top: -10px;
    width: 10000px;
}

body{
    background-color: rgb(219, 219, 219);
}
